a {
  color: white;
  text-decoration: none;
}

.nav-bar {
  display: flex;
  background: black;
  align-items: center;
}

.nav-link {
  margin: 10px;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  font-family: brandon-grotesque,"sans serif",sans-serif,Helvetica Neue,Helvetica,arial;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  text-transform: uppercase;
  white-space: normal;
  letter-spacing: 1px;
  font-size: 13px;
  letter-spacing: .6px;
  line-height: 14px;
}